<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Renault</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>LED kontrolörüne bağlanmak için Bluetooth erişimi gereklidir.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>LED kontrolörüne bağlanmak için Bluetooth erişimi gereklidir.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>processing</string>
	</array>
</dict>
</plist>
